---
import {
    getFilterableTagClass,
    type FilterButtonProps,
} from "../../lib/filterableHelper";

interface Props extends FilterButtonProps {}
const {
    listName,
    tags,
    showAll = "off",
    defaultTag,
    allText = "all",
} = Astro.props;

let css = [];
if (showAll === "off") {
    css.push(
        `ul#${listName}-filters ~ * .${getFilterableTagClass(listName)} { display: none; }`,
    );
} else {
    css.push(
        `ul#${listName}-filters:has(input[type=radio]:not([value=all]):checked) ~ * .${getFilterableTagClass(listName)} { display: none; }`,
    );
}

tags.forEach((t) =>
    css.push(
        `ul#${listName}-filters:has(input[type=radio][value=${t}]:checked) ~ * .${getFilterableTagClass(listName, t)} { display: inherit; }`,
    ),
);
---

<ul class="filters" id={listName + "-filters"}>
    {
        showAll === "first" && (
            <li>
                <label title="open the floodgates!" data-contents={allText}>
                    {allText}
                    <input
                        type="radio"
                        name={listName + "-filter"}
                        id={listName + "-filter-all"}
                        value="all"
                        checked={defaultTag === undefined}
                    />
                </label>
            </li>
        )
    }
    {
        tags.map((t, i) => (
            <li>
                <label title={`filter by tag: ${t}`} data-contents={`#${t}`}>
                    #{t}
                    <input
                        type="radio"
                        name={listName + "-filter"}
                        id={listName + "-filter-" + t}
                        value={t}
                        checked={
                            defaultTag === t ||
                            (defaultTag === undefined &&
                                showAll !== "first" &&
                                i === 0)
                        }
                    />
                </label>
            </li>
        ))
    }
    {
        showAll === "last" && (
            <li>
                <label title="open the floodgates!" data-contents={allText}>
                    {allText}
                    <input
                        type="radio"
                        name={listName + "-filter"}
                        id={listName + "-filter-all"}
                        value="all"
                        checked={defaultTag === undefined}
                    />
                </label>
            </li>
        )
    }
</ul>
<style set:html={css.join(" ")}></style>
<style>
    ul {
        list-style: none;
        padding: unset;
        display: flex;
        flex-flow: row wrap;

        row-gap: 0.5em;
        column-gap: 0.25em;
    }

    /* hide input, but need to preserve ability to focus w/ keyboard */
    input {
        position: absolute;
        bottom: 0;
        left: 0;
        -webkit-appearance: none;
        appearance: none;
    }

    /* label styles when selected */
    label:has(input:checked) {
        color: var(--color-bg);
        background-color: var(--color-primary);
    }

    label {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        text-align: center;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        padding: 4px 6px 0px 4px;
        position: relative;

        border: 1px solid var(--color-text);
        border-radius: 4px;
        box-shadow: 1px 1px var(--color-text);

        font-size: 0.9em;
        font-style: italic;

        transition:
            color 0.1s,
            background-color 0.1s,
            font-variation-settings 0.5s;
    }

    /* pseudo element spacer rules */
    label::before,
    label::after {
        content: "#" attr(data-contents);
        height: 0;
        visibility: hidden;
        user-select: none;
        -webkit-user-select: none;
        pointer-events: none;
    }

    /* default font settings */
    label,
    label::before {
        font-variation-settings:
            "wght" 500,
            "wdth" 100,
            "ENLA" 20;
    }

    /* hover/active font settings */
    label:hover,
    label::after,
    label:has(input:checked) {
        font-variation-settings:
            "wght" 400,
            "wdth" 90,
            "ENLA" 60;
    }

    /* hover/focus colors */
    label:hover {
        color: var(--color-bg);
        background-color: var(--color-text);
    }

    /* unset default focus style */
    input:focus {
        outline: unset;
    }

    /* keyboard nav outline */
    label:focus-within {
        outline: 2px solid var(--color-text);
    }
</style>
<script>
    import runOnLoad from "../../lib/runOnLoad";

    function initRadioFilters() {
        // blur input on click to avoid input focus styling when not using keyboard
        document.querySelectorAll("ul.filters label").forEach((_e) => {
            const label = _e as HTMLLabelElement;
            label.addEventListener("click", (e) => {
                if ((e as PointerEvent)["pointerType"]) {
                    label.querySelector("input")?.blur();
                }
            });
        });

        // jump to top of list when a tag label is clicked
        document
            .querySelectorAll("ul.filters label, label[name*=-filter-]")
            .forEach((_e) => {
                const label = _e as HTMLLabelElement;

                const input = (
                    label.htmlFor
                        ? document.getElementById(label.htmlFor)
                        : label.querySelector("input")
                ) as HTMLInputElement;

                const ul = document.querySelector(
                    `ul.filters#${input?.name}s`,
                ) as HTMLUListElement;

                if (!input || !ul) {
                    return;
                }

                label.addEventListener("click", () => {
                    window.scrollTo({ top: ul.offsetTop - 40 });
                });
            });
    }

    runOnLoad(initRadioFilters);
</script>
