---
import { getImageByName } from "../lib/images/imageDataHelper";
import Image from "../components/image.astro";
import BaseMetadata from "../components/head/base-metadata.astro";
import GlobalStylesLoader from "../components/head/global-styles-loader.astro";
import PageMetadata from "../components/head/page-metadata.astro";
import Grabbable from "../components/grabbable.astro";
import { slideDataAttributes } from "../lib/indexSlides";

const triggers = [
    {
        id: "first-id",
        title: "Melted Moon",
        desc: "This is a little itty bitty trigger, wow! If you mouse over, maybe it'll do something interesting",
        image: getImageByName("melted_moon_rosemullion-2021-02-26"),
        color: "green",
        x: 10,
        y: 0,
        w: 40,
    },
    {
        id: "second-id",
        title: "Cart",
        desc: "This is a little itty bitty trigger, wow!",
        image: getImageByName("cart-iv"),
        color: "orange",
        x: 10,
        y: 0,
        w: 100,
    },
    {
        id: "third-id",
        title: "Rosemullion",
        desc: "Really really long trigger, this one goes on for ever and ever and ever, to no avail. There aren't no triggers as long as this one. It just rambles, and rambles, and doesn't ever shut up.",
        image: getImageByName("afterglow_rosemullion-2020-12-06"),
        color: "blue",
        x: 10,
        y: 0,
        w: 30,
    },
    {
        id: "fourth-id",
        title: "Pigeon Glitch",
        desc: "Really really long trigger, this one goes on for ever and ever and ever, to no avail. There aren't no triggers as long as this one. It just rambles, and rambles, and doesn't ever shut up.",
        image: getImageByName("glitch-screenshot-3.webp"),
        color: "yellow",
        x: 10,
        y: 0,
        w: 120,
    },
    {
        id: "fifth-id",
        title: "Wiki",
        desc: "Really really long trigger, this one goes on for ever and ever and ever, to no avail. There aren't no triggers as long as this one. It just rambles, and rambles, and doesn't ever shut up.",
        image: getImageByName("wiki.gif"),
        color: "red",
        x: 10,
        y: 0,
        w: 200,
    },
    {
        id: "sixth-id",
        title: "Waterline",
        desc: "Really really long trigger, this one goes on for ever and ever and ever, to no avail. There aren't no triggers as long as this one. It just rambles, and rambles, and doesn't ever shut up.",
        image: getImageByName("waterline_lake_michigan-2020-03-24"),
        color: "red",
        x: -500,
        y: 50,
        w: 300,
    },
];
---

<!doctype html>
<html lang="en">
    <head>
        <BaseMetadata />
        <GlobalStylesLoader />
        <PageMetadata
            title="Duncan’s Website"
            desc="Yes, that’s right! This is his website! He is a London-based photographer, writer, and web developer from Milwaukee, Wisconsin. Come inside. Take off your coat. Stay a while."
        />
    </head>
    <body>
        <main>
            <ul>
                {
                    triggers.map((trigger) => (
                        <li
                            data-anchor
                            style={`--anchor-name: --${trigger.id};`}
                        >
                            <h1>{trigger.title}</h1>
                            <div>{trigger.desc}</div>
                        </li>
                        // <div
                        //     data-target
                        //     style={`--anchor-name: --${trigger.id};`}
                        // >
                        //     <Image data={trigger.image} />
                        // </div>
                    ))
                }
            </ul>
        </main>
        <aside>
            {
                triggers.map((trigger) => (
                    <div
                        data-target
                        style={`--anchor-name: --${trigger.id}; --x: ${trigger.x}px; --y: ${trigger.y}px; --w: ${trigger.w}px;`}
                    >
                        <Grabbable tag="span">
                            <Image data={trigger.image} />
                        </Grabbable>
                    </div>
                ))
            }
        </aside>
    </body><style>

        body {
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: stretch;
            justify-content: stretch;
        }

        main {
            max-width: 50ch;
        }

        aside {
            /* overflow: hidden; */
        }

        ul {
            list-style-type: none;
            padding: unset;
        }

        [data-anchor] {
            border: 1px solid gray;
            margin: 1em;
            padding: 1em;
            border-radius: 4px;
            backdrop-filter: blur(4px);
            background-color: #fafaffcc;

            anchor-name: var(--anchor-name);
        }

        [data-target] {
            --w: 100px;
            --x: 0px;
            --y: 0px;

            position: absolute;
            position-visibility: anchors-visible;
            position-anchor: var(--anchor-name);

            position-area: right;

            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            img {
                width: var(--w);
                transform: translate(var(--x), var(--y));
            }

            &::after {
                content: "";
                display: block;
                position: fixed;
                position-anchor: var(--anchor-name);
                position-area: inherit;
                background: purple;
                align-self: stretch;
                justify-self: stretch;
                opacity: 0.1;
                pointer-events: none;
                inset: 0;
            }
        }

        h1 {
            margin: unset;
            cursor: pointer;
            display: inline;
            &:hover {
                text-decoration: underline;
            }
        }
    </style>
    <script>
        function init() {}
        document.addEventListener("DOMContentLoaded", init);
    </script>
</html>
