---
import { getCollection, getEntry, render } from "astro:content";
import BaseMetadata from "../components/head/base-metadata.astro";
import GlobalStylesLoader from "../components/head/global-styles-loader.astro";
import PageMetadata from "../components/head/page-metadata.astro";
import Image from "../components/image.astro";
import Noise from "../components/noise.astro";
import { getImagesByNamesAndTags } from "../lib/images/imageDataHelper";
import MarkdownImage from "../components/markdown-image.astro";
import Link from "../components/link.astro";

export async function getStaticPaths() {
    const collection = await getCollection("photo");
    return collection.map((p) => ({
        params: { photo: p.id },
    }));
}

const { photo: id } = Astro.params;
const entry = await getEntry("photo", id)!;
const { Content } = await render(entry);

const images = getImagesByNamesAndTags(entry.data.names, entry.data.tags);
---

<!doctype html>
<html lang="en">
    <head>
        <BaseMetadata />
        <GlobalStylesLoader />
        <PageMetadata
            title={`${"GRID"} (on Duncan’s Website)`}
            desc="Yes, that’s right! This is his website! He is a London-based photographer, writer, and web developer from Milwaukee, Wisconsin. Come inside. Take off your coat. Stay a while."
        />
    </head>
    <body>
        <Noise />
        <nav>
            <span>
                <a href="/" title="back! to the home page">Home</a>
                /
                <h1>
                    <a
                        href={entry.id}
                        title={entry.data.title + " (you're already here!)"}
                        >{entry.data.title}</a
                    >
                </h1>
            </span>
            <span>
                <a href="#info" title="Information">Text</a>
                <a href="#" title="No more of this please">Close</a>
            </span>
        </nav>
        <aside id="info">
            <article>
                <Content components={{ img: MarkdownImage, a: Link }} />
            </article>
        </aside>
        <main>
            {
                images.map((image) => {
                    const widthPX = Math.random() * 200 + 200;
                    const leftLERP = Math.random();
                    const topPX = Math.random() * 200 + 200;
                    return (
                        <figure
                            style={`--widthPX: ${widthPX}px; --leftLerp: ${leftLERP}; --topPX: ${topPX}px; --ratio-sqrt: ${Math.sqrt(image.ratio).toFixed(5)};`}
                        >
                            <Image data={image} />
                        </figure>
                    );
                })
            }
        </main>
    </body>
</html>

<style>
    main {
        padding: calc(var(--padding) / 3) calc(var(--padding) / 2);
        overflow: hidden;
    }

    figure {
        position: relative;
        z-index: 2;

        --widthPX: 400px;
        --leftLerp: 0;
        --topPX: 300px;
        --ratio-sqrt: 1;

        --actual-width: calc(var(--widthPX) * var(--ratio-sqrt));

        width: min(var(--widthPX), 100%);
        margin-left: calc((100% - var(--widthPX)) * var(--leftLerp));
        margin-top: var(--topPX);

        cursor: zoom-in;

        opacity: 1;
        transform: none;
        filter: none;

        transition:
            box-shadow 0.5s,
            opacity 0.5s,
            transform 0.5s,
            filter 1s;
    }

    figure.off-screen {
        opacity: 0;
        transform: translate(10px, 20px) rotate(2deg);
        filter: blur(10px);
    }

    figure:hover {
        box-shadow: 0 0 12px var(--color-bg-dark);
        transform: scale(1.004);
    }

    body:has(figure:hover) figure:not(:hover) {
        filter: blur(1px);
    }

    body:has(figure) nav {
        transition:
            filter 1s,
            opacity 0.5s;
    }

    body:has(figure:hover) nav {
        filter: blur(2px);
        opacity: 0.8;
    }

    nav {
        position: fixed;
        z-index: 1;
        padding: calc(var(--padding) / 3) calc(var(--padding) / 2);

        width: 100%;
        display: flex;
        justify-content: space-between;

        user-select: none;
        -webkit-user-select: none;
        pointer-events: none;

        font-variant-numeric: lining-nums;
        font-variation-settings:
            "wght" 600,
            "wdth" 100,
            "ENLA" 20;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media screen and (max-width: 58ch) {
            flex-direction: column;
        }

        h1 {
            font-size: unset;
            display: inline;
            margin: 0;
        }

        a {
            color: unset;
            text-decoration: none;
            pointer-events: auto;
            user-select: auto;
            -webkit-user-select: auto;
        }

        a:hover,
        a:focus-visible {
            text-decoration: underline;
            text-decoration-thickness: 0.0875em;
            text-underline-offset: 0.125em;
        }

        a:focus-visible,
        a:active {
            outline: none;
            background-color: var(--color-primary);
            color: var(--color-bg);
        }

        a[href="#"] {
            display: none;
        }

        a[href="#info"] {
            display: unset;
        }
    }

    #info {
        display: none;
    }

    #info:target,
    #info.open {
        display: grid;
        position: fixed;
        width: 100vw;
        height: 100dvh;
        color: white;
        background-color: black;
        z-index: 4;
        padding-top: 40px;
        box-sizing: border-box;

        overflow-y: scroll;

        grid-template-columns: 1.618fr auto 1fr;

        article {
            grid-column: 2;
            width: 58ch;
            max-width: calc(100vw - var(--padding));
            padding-right: var(--padding);

            padding-top: 50svh;
            padding-bottom: 100svh;

            --color-primary: #8ae9ff;
            --color-secondary: #e9c0ff;
            --color-bg: black;
            --color-text: white;

            @media (min-width: 58ch) {
                text-align: justify;
            }
        }
    }

    nav:has(~ #info:target, ~ #info.open) {
        z-index: 5;
        color: white;

        a[href="#"] {
            display: unset;
        }

        a[href="#info"] {
            display: none;
        }
    }
</style>

<script>
    function initGallery() {
        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach((entry) => {
                const show =
                    entry.isIntersecting || entry.boundingClientRect.top <= 0;
                entry.target.classList.toggle("off-screen", !show);
            });
        });

        document.querySelectorAll("figure").forEach((_f) => {
            const figure = _f as HTMLElement;
            observer.observe(figure);
        });
    }

    function initTextPopup() {
        const info = document.getElementById("info");
        if (!info) return;

        document
            .querySelectorAll("a[href='#info'], a[href='#']")
            .forEach((_a) => {
                const a = _a as HTMLAnchorElement;
                const isClose = a.href.endsWith("#");
                a.addEventListener("click", (e) => {
                    e.preventDefault();
                    info.classList.toggle("open", !isClose);
                });
            });
    }

    document.addEventListener("DOMContentLoaded", initGallery);
    document.addEventListener("DOMContentLoaded", initTextPopup);
</script>
