---
import { getCollection, getEntry, render } from "astro:content";
import BaseMetadata from "../components/head/base-metadata.astro";
import GlobalStylesLoader from "../components/head/global-styles-loader.astro";
import PageMetadata from "../components/head/page-metadata.astro";
import {
    getAllImages,
    getImage,
    getImagesByNamesAndTags,
} from "../lib/images/imageDataHelper";
import Image from "../components/image.astro";
import {
    getDateDisplayString,
    getYearMonthDay,
    toWikipediaDateURL,
} from "../lib/dateHelper";
import { shuffleRef } from "@probablyduncan/common";
import Link from "../components/link.astro";
import Footer from "../components/footer.astro";
import FooterScrollTo from "../components/footer-scroll-to.astro";

export async function getStaticPaths() {
    const collection = await getCollection("photo");
    return collection.map((p) => ({
        params: { photo: p.id },
    }));
}

const { photo: id } = Astro.params;
const entry = await getEntry("photo", id)!;
const { Content } = await render(entry);

const images = getImagesByNamesAndTags(entry.data.names, entry.data.tags);

if (entry.data.shuffle) {
    shuffleRef(images);
}

const maxRatio = images.reduce((max, { ratio }) => {
    return Math.max(max, ratio);
}, 0);
---

<!doctype html>
<html lang="en">
    <head>
        <BaseMetadata />
        <GlobalStylesLoader />
        <PageMetadata
            title={`${entry.data.title} (on Duncan’s Website)`}
            desc="Yes, that’s right! This is his website! He is a London-based photographer, writer, and web developer from Milwaukee, Wisconsin. Come inside. Take off your coat. Stay a while."
        />
    </head>
    <body>
        <main>
            <section class="text">
                <header>
                    <nav>
                        <span>
                            <a href="/" title="back! to the home page">Home</a>
                            /
                            <h1>
                                <a
                                    href={"/" + entry.id}
                                    title={entry.data.title.toLowerCase() +
                                        " (you're already here!)"}
                                    >{entry.data.title}</a
                                >
                            </h1>
                        </span>
                        <span>
                            {
                                typeof entry.data.date === "string" ? (
                                    entry.data.date
                                ) : (
                                    <Link
                                        href={toWikipediaDateURL(
                                            entry.data.date,
                                        )}
                                        title="and what else?"
                                    >
                                        {getDateDisplayString(entry.data.date)}
                                    </Link>
                                )
                            }
                        </span>
                    </nav>
                </header>
                <FooterScrollTo includeTopButton />
                <article>
                    <Content />
                </article>
            </section>
            <section
                class="images"
                style={`--max-ratio-sqrt: ${Math.sqrt(maxRatio).toFixed(5)};`}
            >
                {
                    images.map((image) => {
                        return (
                            <figure
                                style={`
                                    --ratio-sqrt: ${Math.sqrt(image.ratio).toFixed(5)};
                                    --dominant-color: ${image.color};
                                    --rand: ${Math.random() - 0.5};
                                `}
                            >
                                <Image data={image} />
                            </figure>
                        );
                    })
                }
            </section>
            <!-- <section
                class="images"
                style={`--max-ratio-sqrt: ${Math.sqrt(maxRatio).toFixed(5)};`}
            >
                {
                    images.map((image) => {
                        return (
                            <>
                                <figure
                                    style={`
                                --ratio-sqrt: ${Math.sqrt(image.ratio).toFixed(5)};
                                --dominant-color: ${image.color};
                            `}
                                >
                                    <a href={"#" + image.name}>
                                        <Image data={image} />
                                    </a>
                                    {/* <figcaption>
                                        <span>{image.filename}</span>
                                    </figcaption> */}
                                </figure>
                                {Math.random() > 0.618 && (
                                    <div
                                        class="placeholder"
                                        style={`--ratio-sqrt: 1;`}
                                    />
                                )}
                                <div class="lightbox" id={image.name}>
                                    <a href="#" data-close-lightbox>
                                        Close
                                    </a>
                                    <figure>
                                        <Image data={image} />
                                        <figcaption>{image.alt}</figcaption>
                                    </figure>
                                </div>
                            </>
                        );
                    })
                }
            </section> -->
        </main>
        <Footer />
    </body>
</html>

<style>
    main {
        padding: 0 var(--padding);
    }

    section.text {
        width: 58ch;
        max-width: calc(100vw - var(--padding) * 2);
        padding-right: var(--padding);
        margin: 0 auto;
    }

    article {
        margin-bottom: 50svh;
        @media (min-width: 58ch) {
            text-align: justify;
        }
    }

    header {
        min-height: 50svh;
        padding-bottom: 2em;
    }

    nav {
        position: sticky;
        top: 0;

        padding-top: 1em;

        font-variant-numeric: lining-nums;
        font-variation-settings:
            "wght" 600,
            "wdth" 100,
            "ENLA" 20;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media screen and (max-width: 58ch) {
            flex-direction: column;
        }

        h1 {
            font-size: unset;
            display: inline;
            margin: 0;
        }

        a {
            color: unset;
            text-decoration: none;
        }

        a:hover,
        a:focus-visible {
            text-decoration: underline;
            text-decoration-thickness: 0.0875em;
            text-underline-offset: 0.125em;
        }

        a:focus-visible,
        a:active {
            outline: none;
            background-color: var(--color-primary);
            color: var(--color-bg);
        }
    }

    section.images figure {
        margin: 0 auto 50svh;
        width: calc(58ch * var(--ratio-sqrt));
        max-width: 100%;
        transform: translateX(calc(var(--rand) * 100px));

        @media screen and (max-width: 58ch) {
            transform: none;
        }
    }

    /* section.images {
        margin: calc(4 * var(--padding)) 0 0;
        padding: calc(var(--padding) / 2) calc(var(--padding) / 4);
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        justify-content: flex-start;
        gap: calc(var(--padding) / 2) calc(var(--padding) / 4);
    }

    section.images > figure,
    section.images > .placeholder {
        width: 200px;
        width: calc(200px * var(--ratio-sqrt) / var(--max-ratio-sqrt));
    }

    section.images a {
        cursor: zoom-in;
        display: block;
    }

    section.images a:hover {
        filter: invert() sepia() contrast(60%) saturate(30%) brightness(110%);
    }

    section.images figure:has(a:hover) figcaption {
        border-color: gray;
    }

    section.images figcaption {
        border-top: 2px solid var(--dominant-color);
        padding-top: 2px;
        margin-top: 12px;
        font-family: monospace;
        font-size: 0.5em;
        display: flex;
        line-height: 1.6;
        justify-content: flex-start;
        gap: 1ch;
        color: gray;
    }

    .lightbox {
        display: none;
    }

    .lightbox:target,
    .lightbox.open {
        display: flex;
        position: fixed;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        background-color: white;
        inset: 0;
    } */

    /* section.scroll {
        width: min(600px, calc(100% - 2 * var(--padding)));
        padding: 0 var(--padding);
        box-sizing: content-box;
        margin: 20svh auto 0;
    }

    section.scroll figure {
        width: min(
            calc(600px * var(--ratio-sqrt) / var(--max-ratio-sqrt)),
            100%
        );
        margin: 0 auto 50svh;
    } */
</style>

<!-- <script>
    function initLightbox() {
        // open buttons
        document.querySelectorAll("a[href^='#']:has(img)").forEach((_a) => {
            const a = _a as HTMLAnchorElement;
            a.addEventListener("click", (e) => {
                e.preventDefault();
                softNavigate(a.href);
            });
        });

        // close buttons
        document.querySelectorAll(".lightbox a[href='#']").forEach((_a) => {
            const a = _a as HTMLAnchorElement;
            a.addEventListener("click", (e) => {
                e.preventDefault();
                softNavigate(a.href.replace("#", ""));
            });
        });

        document.addEventListener("keydown", (e) => {
            if (e.key === "Escape") {
                console.log(window.location);
                softNavigate(window.location.origin + window.location.pathname);
            }
        });

        if (window.location.hash) {
            console.log("hash");
            document
                .querySelector(`.lightbox${window.location.hash}`)
                ?.classList.add("open");
        }
    }

    function softNavigate(href: string) {
        history.replaceState({}, "", href);

        document
            .querySelectorAll(`.lightbox.open`)
            .forEach((e) => e.classList.remove("open"));

        if (window.location.hash) {
            document
                .querySelector(`.lightbox${window.location.hash}`)
                ?.classList.toggle("open");
        }
    }

    document.addEventListener("DOMContentLoaded", initLightbox);
</script> -->
