---
import { getCollection, render } from "astro:content";
import BaseMetadata from "../components/head/base-metadata.astro";
import GlobalStylesLoader from "../components/head/global-styles-loader.astro";
import PageMetadata from "../components/head/page-metadata.astro";
import { getEntry } from "astro:content";
import { resolveLink } from "../lib/linkHelper";

export async function getStaticPaths() {
    const collection = await getCollection("text");
    return collection.map((t) => ({
        params: { text: t.id },
    }));
}

const { text: id } = Astro.params;
const entry = await getEntry("text", id)!;
const { Content } = await render(entry);

const toDateString = (d: Date) =>
    d.toLocaleDateString("en-UK", {
        year: "numeric",
        month: "short",
        day: "numeric",
    });

const toWikipediaDateURL = (d: Date) => {
    const month = d.toLocaleString("en-UK", { month: "long" });
    const day = d.getDate();
    return `https://wikipedia.org/wiki/${month}_${day}`;
};

const stanceMap: Record<typeof entry.data.stance, [number, number]> = {
    "center": [1, 1],
    "side": [0, 1],
    "golden": [1, 1.618033988749894],
    "wide": [1, 2.41],
}

const stance = stanceMap[entry.data.stance];
if (entry.data.align === "right") {
    stance.reverse();
}

---

<!doctype html>
<html lang="en">
    <head>
        <BaseMetadata />
        <GlobalStylesLoader />
        <PageMetadata
            title={`${entry.data.title} (on Duncan’s Website)`}
            desc="Yes, that’s right! This is his website! He is a London-based photographer, writer, and web developer from Milwaukee, Wisconsin. Come inside. Take off your coat. Stay a while."
        />
    </head>
    <body style={`--col-size-left: ${stance[0]}fr; --col-size-right: ${stance[1]}fr;`}>
        <main>
            <header>
                <div>
                    <h1>
                        <a href="/" title="back! to the home page">Home</a> / <a
                            href={"/" + entry.id}
                            title={entry.data.title + " (you're already here!)"}
                            >{entry.data.title}</a
                        >
                    </h1>
                    <span>
                        <a
                            {...resolveLink({
                                href: toWikipediaDateURL(entry.data.date),
                            })}>{toDateString(entry.data.date)}</a
                        >
                    </span>
                </div>
            </header>
            <article>
                <Content />
            </article>
        </main>
    </body>
</html>
<style>
    body {
        display: grid;
        grid-template-columns: var(--col-size-left) auto var(--col-size-right);
        align-items: stretch;
        overflow-x: hidden;
        padding: 0 var(--padding);
    }

    main {
        grid-column: 2;
        width: 100%;
        max-width: 55ch;
    }

    header {
        min-height: 50svh;
        padding-bottom: 2em;

        a {
            color: unset;
            text-decoration: none;
        }

        a:hover, a:focus-visible {
            text-decoration: underline;
            text-decoration-thickness: 0.0875em;
            text-underline-offset: 0.125em;
        }

        a:focus-visible, a:active {
            outline: none;
            background-color: var(--color-primary);
            color: white;
        }
    }

    header > div {
        position: sticky;
        top: 0;

        padding-top: 1em;

        font-variant-numeric: lining-nums;
        font-variation-settings:
            "wght" 600,
            "wdth" 100,
            "ENLA" 20;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media screen and (max-width: 55ch) {
            flex-direction: column;
        }

        h1 {
            font-size: unset;
            margin: 0;
        }
    }

    article {
        margin-bottom: 50svh;
        @media (min-width: 55ch) {
            text-align: justify;
        }
    }
</style>
