---
import Email from "../components/junicode-snippets/email.astro";
import Ticker from "../components/ticker.astro";
import GlobalStylesLoader from "../components/head/global-styles-loader.astro";
import BaseMetadata from "../components/head/base-metadata.astro";
import PageMetadata from "../components/head/page-metadata.astro";
import RadioFilters from "../components/filterable/radio-filters.astro";
import FilterableListItem from "../components/filterable/filterable-list-item.astro";
import { getCollection } from "astro:content";
import { marked } from "marked";
import Link from "../components/link.astro";
import { resolveLink } from "../lib/linkHelper";
import FilterButton from "../components/filterable/filter-button.astro";
import Image from "../components/image.astro";
import Footer from "../components/footer.astro";
import FooterScrollTo from "../components/footer-scroll-to.astro";
import Noise from "../components/noise.astro";
import Grabbable from "../components/grabbable.astro";
import { toSeveral } from "@probablyduncan/common/sos";

const items = await getCollection("index");
const tags = [...new Set(["best", ...items.flatMap((item) => item.data.tags)])];

const projectContentRenderer = (() => {
    const renderer = new marked.Renderer();
    renderer.link = ({ href, title, text }) => {
        const {
            href: hrefResolved,
            title: titleResolved,
            rel,
            target,
        } = resolveLink({ href, title, innerHtml: text });
        return `<a href="${hrefResolved}" title="${titleResolved}" target="${target}" rel="${rel}" class="a">${marked.parseInline(text)}</a>`;
    };
    return renderer;
})();
---

<!doctype html>
<html lang="en">
    <head>
        <BaseMetadata />
        <GlobalStylesLoader />
        <PageMetadata
            title="Duncan’s Website"
            desc="Yes, that’s right! This is his website! He is a London-based photographer, writer, and web developer from Milwaukee, Wisconsin. Come inside. Take off your coat. Stay a while."
        />
    </head>
    <body>
        <Ticker />
        <Noise />
        <main>
            <header>
                <figure class="mobile-figure">
                    <Image name="pasture_i-2021-01-01" />
                </figure>
                <h1>
                    <span class="ligatures" data-slide-trigger="default">Duncan Petrie</span><sup
                        class="aalt"
                        title="you’re a star!"
                        style="cursor: default; user-select: none; -webkit-user-select: none;"
                        >*</sup
                    >
                </h1>
                <p class="indent">
                    (<abbr
                        title="hey! put your grubby little cursor somewhere else"
                        >that’s me!</abbr
                    >) is a London-based photographer, writer, and web developer
                    from Milwaukee, Wisconsin.
                </p>
                <p>
                    I like going outside, looking around, and eating <Link
                        href="https://www.google.com/maps/d/viewer?mid=15A5_e_KS2Es4xs3ZhXmYR31dRmc0cpA" data-slide-trigger="falafel"
                        >falafel</Link
                    >.
                </p>
                <p>
                    I share my birthday with the <Link
                        href="https://en.wikipedia.org/wiki/Old_New_Year"
                        >Old New Year</Link
                    >, <Link
                        href="https://en.wikipedia.org/wiki/World_Logic_Day"
                        >World Logic Day</Link
                    >, and the <Link
                        href="https://en.wikipedia.org/wiki/Feast_of_the_Ass"
                        >Feast of the Ass</Link
                    >.
                </p>
                <p>This is my website!</p>
                <hr />
                <p>
                    New here? Take a look at my <Link href="https://pigeons.duncanpetrie.com"
                        >pigeons</Link
                    >, read a <Link href="/list-of-the-wind" title="A List of the Wind"
                        >story</Link
                    >, sing along to a <Link
                        href="/bugs-in-my-bones"
                        title="I’ve got bugs in my bones (wooo!)"
                        >song about bugs</Link
                    >, or look out at the <Link
                        href="/horizons"
                        >sea</Link
                    >.
                </p>
                <p>
                    Or, if you’re already sick of this place, you can dive into
                    some other websites <Link
                        href="/weblinks"
                        title="A Sea of Websites I Have Loved">right here</Link
                    >.
                </p>
                <p>
                    Email me at <Link href="mailto:duncanpetrie1@gmail.com"
                        ><Email at="@" /></Link
                    >.
                </p>
                <hr />
            </header>
            <!-- <FooterScrollTo /> -->
            <section>
                <RadioFilters
                    tags={tags}
                    listName="work"
                    showAll="first"
                    defaultTag="best"
                />
                <ul>
                    {
                        items.map(({ id, data: item }) => {
                            const mobileImage = item.mobileImage ?? item.slideImages?.at(0);
                            return (
                                <FilterableListItem
                                    tags={item.tags}
                                    listName="work"
                                >
                                    {mobileImage && (
                                        <figure class="mobile-figure">
                                            <Image
                                                name={mobileImage as ImageName}
                                            />
                                        </figure>
                                    )}
                                    <div class="link-wrapper" data-slide-trigger={id}>
                                        <div class="link-top">
                                            <span class="link-date">
                                                {item.date}
                                            </span>
                                            <span>|</span>
                                            <span class="link-tags">
                                                {item.tags.map((t, i) => (
                                                    <>
                                                        <FilterButton
                                                            listName="work"
                                                            tagName={t}
                                                        >
                                                            #{t}
                                                        </FilterButton>
                                                        {i !== item.tags.length - 1 && ","}
                                                    </>
                                                ))}
                                            </span>
                                        </div>
                                        <div
                                            class="link-bottom"
                                            set:html={marked.parseInline(
                                                item.content,
                                                {
                                                    renderer:
                                                        projectContentRenderer,
                                                },
                                            )}
                                        />
                                    </div>
                                </FilterableListItem>
                            );
                        })
                    }
                </ul>
            </section>
        </main>
        <aside data-slide-container>
            <div data-slide="default">
                <Grabbable style="position: absolute; width: 28%; right: 28%; top: 18%; rotate: -1deg;" tag="figure">
                    <Image name="melted_moon_rosemullion-2021-02-26" />
                </Grabbable>
                <Grabbable style="position: absolute; width: 28%; right: 28%; top: 18%; rotate: 1deg;" tag="figure">
                    <Image name="best_wishes_penzance-2022-03-22" />
                </Grabbable>
            </div>
            <div data-slide="falafel">
                <div style="position: absolute; top: 45%; left: 40%; transform: translate(-50%, -50%); width: 250px; height: 400px;">
                    <Grabbable style="position: absolute; rotate: 150deg;" tag="figure">
                        <Image name="falafel1.gif" noPlaceholder autoWidth />
                    </Grabbable>
                    <Grabbable style="position: absolute; top: 10%; right: 15%; rotate: 230deg;" tag="figure">
                        <Image name="falafel2.gif" noPlaceholder autoWidth />
                    </Grabbable>
                    <Grabbable style="position: absolute; top: 36%; left: 12%; rotate: 45deg;" tag="figure">
                        <Image name="falafel2.gif" noPlaceholder autoWidth />
                    </Grabbable>
                    <Grabbable style="position: absolute; top: 50%; right: 15%; rotate: 25deg;" tag="figure">
                        <Image name="falafel1.gif" noPlaceholder autoWidth />
                    </Grabbable>
                    <Grabbable style="position: absolute; bottom: 20%; left: 60%; rotate: -15deg;w" tag="figure">
                        <Image name="falafel2.gif" noPlaceholder autoWidth />
                    </Grabbable>
                    <Grabbable style="position: absolute; bottom: 0; right: 0; rotate: 55deg;" tag="figure">
                        <Image name="falafel1.gif" noPlaceholder autoWidth />
                    </Grabbable>
                    <Grabbable style="position: absolute; top: 20%; left: 40%; rotate: 4deg;" tag="figure">
                        <Image name="falafels.gif" noPlaceholder autoWidth />
                    </Grabbable>
                </div>
            </div>
            <!-- <div data-slide="adrift">
                <Grabbable style="position: absolute; width: 60%; right: 11%; top: 35%; rotate: 2deg;" tag="figure">
                    <Image name="snowline_late_morning_iii-2020-12-26" />
                </Grabbable>
                <Grabbable style="position: absolute; width: 60.5%; right: 11%; top: 34.5%; rotate: -1deg;" tag="figure">
                    <Image name="pasture_i-2021-01-01" />
                </Grabbable>
            </div> -->
            {items.map(({ id, data: { slideImages } }) => {
                    
                if (!slideImages) {
                    return;
                }

                return <div data-slide={id}>
                    {toSeveral(slideImages).toReversed().map(key => {
                        const getRand = (c: number = 1) => (Math.random() - 0.5) * 2 * c;
                        const width = 60 + getRand(0.5);
                        const right = 11 + getRand(0.5);
                        const top = 35 + getRand(0.5);
                        const rotate = getRand(2);
                        return <Grabbable style={`position: absolute; width: ${width}%; right: ${right}%; top: ${top}%; rotate: ${rotate}deg;`} tag="figure">
                            <Image name={key as ImageName} />
                        </Grabbable>
                    })}
                </div>
            })}
        </aside>
        <!-- <Footer /> -->
    </body>
</html>

<style>
    main {
        position: relative;
        padding: var(--padding);
        max-width: 100%;
        width: 50ch;
        z-index: 10;
        padding-bottom: 20svh;

        background: linear-gradient(to right,#fff8 5%, transparent 100%);

        @media (width <= 720px) {
            margin-inline: auto;
        }
    }

    /* blur content behind */
    @media screen and (width > 720px) {
        main::before {
            position: absolute;
            inset: 0;
            right: -20%;
            mask: linear-gradient(to left,transparent 0%,#fff8 15%,#fff 40%);

            content: "";
            pointer-events: none;
            z-index: -1;

            backdrop-filter: blur(4px);
        }
    }

    aside {
        position: fixed;
        right: 0;
        top: 0;
        height: 100dvh;
        width: calc(100% - 50ch + var(--padding));

        @media (width <= 720px) {
            display: none;
        }
    }

    [data-slide] {

        position: absolute;
        inset: 0;
        
        &:not([data-slide="default"]) {
            transform: translate(-100vw, -100vh);
        }
    }

    h1 {
        font-size: calc(var(--font-size-base) * 3);
        font-size: 3rem;
        margin-bottom: 0;
    }

    p,
    hr {
        width: min(42ch, 100%);
    }

    p.indent {
        position: relative;
        text-indent: 1em;

        abbr {
            transition:
                font-variation-settings 0.333333333s steps(4),
                color 0.333333333s steps(4);

            font-variation-settings:
                "wght" 400,
                "wdth" 100,
                "ENLA" 0;
        }

        &::before {
            position: absolute;
            left: -0.9em;

            content: "*";
            font-feature-settings: "aalt";
            font-size: 1.25em;

            opacity: 0.4;
            transform-origin: 80% 30%;

            transition:
                opacity 0.333333333s steps(4),
                transform 0.333333333s steps(4);
        }
    }

    h1:has(sup:hover) ~ p.indent {
        abbr {
            color: var(--color-primary);
            font-variation-settings:
                "wght" 400,
                "wdth" 79,
                "ENLA" 40;
        }

        &::before {
            opacity: 1;
            transform: rotate(1turn);
        }
    }

    hr {
        opacity: 0.0833333333;
        margin-bottom: 2em;
        margin-top: 2em;
        margin-inline: 0;
    }

    header .mobile-figure {
        margin-top: calc(1em + var(--padding));
    }

    section {
        min-height: 80svh;
    }

    ul .mobile-figure {
        margin-block: 1em;
    }

    @media screen and (width > 720px) {
        .mobile-figure {
            display: none;
        }
    }

    ul {
        list-style: none;
        padding: 1em 0 0;
    }

    .link-wrapper {
        margin-bottom: 1em;
    }

    @media screen and (width > 720px) and (prefers-reduced-motion: no-preference) {
        .link-wrapper {
            cursor: default;
            margin-bottom: 0.5em;
            margin-inline: -0.5em;
            padding: 0.5em;
            border: 2px dashed #00000004;
            transition: border-color 0.5s;
        }

        .link-wrapper:hover {
            border-color: #0000000D;
        }
    }

    .link-top {
        margin-bottom: 0.125em;
        color: var(--color-text-lighter);

        user-select: none;
        -webkit-user-select: none;
    }

    .link-date {
        font-variant-numeric: lining-nums;
        font-variation-settings:
            "wght" 500,
            "wdth" 80,
            "ENLA" 0;
        font-size: 0.8em;

        user-select: text;
        -webkit-user-select: text;
    }

    .link-tags {
        font-weight: 300;
        font-size: 0.8em;

        label {
            cursor: pointer;
            transition: opacity 0.2s;
            &:hover {
                opacity: 0.6;
            }
            &:active {
                opacity: 1;
            }
        }
    }

    .link-bottom {
        font-size: 1em;
        line-height: 1.4;
        color: var(--color-text-light);
    }

    .link-bottom :global(br) {
        margin-bottom: 0.2em;
    }
</style>
<script>
    import { initIndexSlides } from "../lib/indexSlides";
    document.addEventListener("DOMContentLoaded", initIndexSlides);
</script>