---
import Email from "../components/junicode-snippets/email.astro";
import Ticker from "../components/ticker.astro";
import GlobalStylesLoader from "../components/head/global-styles-loader.astro";
import BaseMetadata from "../components/head/base-metadata.astro";
import PageMetadata from "../components/head/page-metadata.astro";
import LinkCloud from "../components/link-cloud.astro";
import RadioFilters from "../components/filterable/radio-filters.astro";
import FilterableListItem from "../components/filterable/filterable-list-item.astro";
import { getCollection } from "astro:content";
import { marked } from "marked";
import Link from "../components/link.astro";
import { resolveLink } from "../lib/linkHelper";

const items = await getCollection("index");
const tags = [...new Set(["best", ...items.flatMap((item) => item.data.tags)])];

const projectContentRenderer = (() => {
	const renderer = new marked.Renderer();
	renderer.link = ({ href, title, text }) => {
		const {
			href: hrefResolved,
			title: titleResolved,
			rel,
			target,
		} = resolveLink({ href, title, innerHtml: text });
		return `<a href="${hrefResolved}" title="${titleResolved}" target="${target}" rel="${rel}" class="a">${marked.parseInline(text)}</a>`;
	};
	return renderer;
})();
---

<!doctype html>
<html lang="en">
	<head>
		<BaseMetadata />
		<GlobalStylesLoader />
		<PageMetadata
			title="Duncan’s Website"
			desc="Yes, that’s right! This is his website! He is a London-based photographer, writer, and web developer from Milwaukee, Wisconsin. Come inside. Take off your coat. Stay a while."
		/>
	</head>
	<body>
		<Ticker />
		<!-- <aside>
			<LinkCloud>
				<div
					data-hover-container="cover"
					style={`width: 70%; border: 4px solid #e5ebf2cc;`}
				>
					<img src="/cover.webp" />
				</div>
			</LinkCloud>
		</aside> -->
		<main>
			<header>
				<h1>
					<span class="ligatures">Duncan Petrie</span><sup
						class="aalt"
						title="you’re a star!"
						style="cursor: default; user-select: none; -webkit-user-select: none;"
						>*</sup
					>
				</h1>
				<p>
					(<abbr
						title="hey! put your grubby little cursor somewhere else"
						>that’s me</abbr
					>!) is a London-based photographer, writer, and web
					developer from Milwaukee, Wisconsin.
				</p>
				<p>This is my website.</p>
				<p>~ - ~ -</p>
				<p>
					New here? Take a look at my <Link href="/palimpsest"
						>photography</Link
					>
					<br />or read a recent <Link href="/wind">story</Link>.
				</p>
				<!-- <p>
					You can sign my <a href="https://guestbook.duncanpetrie.com"
						>guestbook</a
					>, explore my <a href="https://duncans.world">world</a>, or
					have a cheese sandwich in my <a href="https://duncans.cafe"
						>cafe</a
					>.
				</p> -->
				<p>
					Or, if you’re already sick of this place, you can find links
					to some other websites <Link href="/weblinks"
						>right here</Link
					>.
				</p>
				<p>
					Email me at <Link href="mailto:duncanpetrie1@gmail.com"
						><Email at="@" /></Link
					>.
				</p>
				<p>~ - ~ -</p>
			</header>
			<RadioFilters
				tags={tags}
				listName="work"
				showAll="first"
				defaultTag="best"
			/>
			<ul>
				{
					items.map(({ data: item }) => {
						return (
							<FilterableListItem
								tags={item.tags}
								listName="work"
							>
								<div class="link-wrapper">
									<div class="link-top">
										<span class="link-date">
											{item.date}{" "}
											&nbsp;&nbsp;|&nbsp;&nbsp;
										</span>
										<span class="link-tags">
											{item.tags
												.map((t) => "#" + t)
												.join(", ")}
										</span>
									</div>
									<div
										class="link-bottom"
										set:html={marked.parseInline(
											item.content,
											{
												renderer:
													projectContentRenderer,
											},
										)}
									/>
								</div>
							</FilterableListItem>
						);
					})
				}
			</ul>
		</main>
		<!-- <BottomNav /> -->
		<footer>
			<a href="/sitemap">sitemap</a>
		</footer>
	</body>
</html>

<style>
	main {
		position: relative;
		padding: var(--padding);
		/* padding-right: unset; */
		width: min(55ch, 100%);
		z-index: 10;
		margin-bottom: 50svh;
	}

	header {
		width: min(40ch, 100%);
		/* text-wrap: balance; */
	}

	footer {
		position: fixed;
		bottom: 0.5rem;
		right: 1rem;

		color: #808080;
		font-weight: 400;
		font-size: 0.875em;

		a {
			color: inherit;
			font-weight: inherit;
			font-size: inherit;
		}
	}

	ul {
		list-style: none;
		padding: 1em 1em 0 0;
		margin: 2em 0 0;
		border-top: 2px solid #0001;
	}

	.link-wrapper {
		margin-bottom: 1em;
	}

	.link-top {
		display: flex;
		align-items: center;
		margin-bottom: 0.125em;
	}

	.link-date {
		color: #222;
		font-variant-numeric: lining-nums;
		font-variation-settings:
			"wght" 500,
			"wdth" 80,
			"ENLA" 0;
		font-size: 0.8em;
	}

	.link-tags {
		color: #444;
		font-weight: 300;
		font-size: 0.8em;
	}

	.link-bottom {
		font-size: 1em;
		line-height: 1.4;
		color: #444;
	}

	.link-bottom :global(br) {
		margin-bottom: 0.2em;
	}

	/* aside {
		flex: 1;
		position: sticky;
		top: 0;
		height: 100svh;
		width: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		background-color: white;
	} */
</style>
