---
import type { InferEntrySchema } from "astro:content";

interface Props extends InferEntrySchema<"links"> {
    // title: string;
    // href: string;
    // tags: string[];
    // date: string;
    // desc?: string;
}

const { title, href, date, tags, desc } = Astro.props;
---

<div class="link-wrapper">
    <div class="link-top">
        <span class="link-date">{date}&nbsp;&nbsp;|&nbsp;&nbsp;</span><span
            class="link-tags">{tags?.map((tag) => "#" + tag).join(", ")}</span
        >
    </div><div class="link-bottom">
        <span class="link-title"
            >[{title}](<a
                class="link-link"
                title={`${title}: ${href}`}
                href={href}
                target="_blank">{href}</a
            >)</span
        ><span class="link-desc"
            >&nbsp;<span class="desc-dash">&mdash;</span>&mdash;&nbsp;<slot
                >{desc}</slot
            ></span
        >
    </div>
</div>
<style>
    .link-wrapper {
        font-family: Junicode;
    }

    .link-top {
        display: flex;
        align-items: center;
        line-height: 1.2;
    }

    .link-date {
        color: #222;
        font-variant-numeric: lining-nums;
        font-variation-settings:
            "wght" 500,
            "wdth" 80,
            "ENLA" 0;
        /* font-size: 1.125em; */
        font-size: 0.8em;
    }

    .link-tags {
        color: #444;
        font-weight: 300;
        /* font-size: 0.875em; */
        font-size: 0.8em;
    }

    .link-bottom {
        /* font-size: 1.25em; */
        font-size: 1em;
        line-height: 1.6;
    }

    .link-title {
        color: #222;
        font-variation-settings:
            "wght" 500,
            "wdth" 80,
            "ENLA" 20;
    }

    .link-link {
        color: blue;
        text-decoration: underline;
        font-variation-settings:
            "wght" 400,
            "wdth" 87.5,
            "ENLA" 20;
        transition: font-variation-settings 0.5s;
    }

    .link-link:hover {
        text-decoration-style: dotted;
        font-variation-settings:
            "wght" 400,
            "wdth" 100,
            "ENLA" 30;
    }

    .desc-dash {
        display: none;
        letter-spacing: -1px;
    }

    .link-desc {
        color: #444;
    }
</style>
